.xl-operation-button{
    width: 200px;
    height: 100px;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
    &[class*=done]{
        background-color: #7fc07f;
        outline: none;
        border: none;
    }
    &[class*=focusing]{
        background-color: #79cce5;
        outline: none;
        border: none;
    }
}

.xl-operation-bar .xl-operation-button{
    margin-right: 20px;
}
