.xl-rename-page{
  padding: 10px;
  .xl-operation-bar{
    //width: 100%;
  }
  .xl-rename-viewer{
    margin-top: 20px;
    .xl-form{
      margin-left: 180px;
      .submit-button{
        margin-left: 20px;
        button{
          width: 100px;
          height: 50px;
          margin: 30px 10px;
        }
      }
      .special-word-input{
        display: inline-flex;
        align-items: center;
        //margin-bottom: 10px;
        margin: 5px 10px 5px 0;
      }
      .save-button{
        margin-left: 10px;
      }
    }
  }
}
