.xl-setting-page {

  .xl-config-item {
    margin: 20px;
    display: flex;
    align-items: center;
    .xl-config-name {
      text-align: right;
      flex-basis: 200px;
      font-size: 16px;
      margin-right: 20px;
      flex-shrink: 0;
      &:after {
        content: ' :';
      }
    }

    .xl-config-button {
      height: 34px;
      margin: 0 10px;
    }

    //textarea{
    //  height: 60px !important;
    //}
    .xl-config-input {
      height: 34px;
      font-size: 16px;
      padding-left: 10px;
      flex-grow: 1;
      &[type=checkbox]{
        flex-grow: 0;
        text-align: left;
        $size:22px;
        height: $size;
        width: $size;
      }
    }

    .xl-config-value-array {
      //border: 1px solid #35b235;
      //margin: 10px 0;
      //padding: 5px;
      display: flex;
      flex-wrap: wrap;

      .xl-config-value-array-item {
        margin-right: 20px;
        //margin: 10px 10px 10px 0;
      }
    }

    .xl-config-value-obj {
      //border: 1px solid gray;
      //padding: 5px;
      //margin: 5px 0;
      //margin-right: 20px;
      box-sizing: border-box;
      .xl-config-value-obj-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .xl-config-value-obj-item-key{
          flex-basis: 50%;
          text-align: right;
        }
        .xl-config-value-obj-item-separator{
          padding: 0 5px;
        }
      }

      //border: 1px solid #5b9fe1;
      //margin: 10px 0;
      //padding: 5px;
    }
  }

  .xl-config-file{
    display: flex;
    padding: 10px;
    textarea{
      flex-grow: 1;
      height: 60vh;
    }
  }

  .xl-setting-submit-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 50px;
    }
  }
}
